[Desktop Entry]
Type=Application
Name=Graphical Asynchronous Music Player Client
Comment=A Python/Gtk4 client for MPD
Comment[fr]=Un client Python/Gtk4 pour MPD
Icon=face-cool-gampc
DBusActivatable=true
TryExec=/usr/bin/gampc
Exec=/usr/bin/gampc
Terminal=false
Categories=AudioVideo;Audio;Network;Player;Music
StartupWMClass=GAMPC
